body{
    margin: 0;
    background: grey;
    overflow: auto;
}
nav{
    background-color: black;
    color: white;
    height: 30px;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
}
nav a{

    color: white;
    margin: 10px;
    text-decoration: none;

 }
nav a.button{

    padding: 3px;
    border: solid 2pt;
    border-radius: 10pt;
    color: #C7C7C7;
    background-color: #334273;
    border-color: #3D3D3E;
    float: right;
    margin: 10px;
    margin-top: 1px;
    text-decoration: none;
}
.infobox{
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    margin-top: 5%;
    float: right;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /*    Firefox, other Gecko */
    box-sizing: border-box;     /*    Opera/IE 8+ */
    text-align: center;
    padding: 0%;
/*    border-radius: 10px;*/
/*    border: solid #000 2pt;*/
    width: 40%;
    height: 40%;
/*    background: #ffffff;*/
}
.infobox h2{
    font-style: bold;
    font-size: 30pt;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: left;
    margin-top: -2%;
}
.infobox ul li.NoBullet{
    list-style-type: none;
}
.infobox p{
    overflow: scroll;
    height: 80%;
    background : linear-gradient( #FFEBCD 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0),  #FFEBCD 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 0 100%;

    background-repeat : no-repeat;
    background-color :  #FFEBCD;
    background-size : 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment : local, local, scroll, scroll;
}
.infobox dt{
    font-style: bold;
    text-align:left;
    font-size: 20pt;
}
.infobox dd{
   
    text-align:left;
    font-size: 14pt;
}


.bio{
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    margin-top: 5%;
    float: right;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    border: solid #000 2pt;
    width: 40%;
    height: 30%;
    background: #ffffff;
    overflow: scroll;    
}
.round-info {
    display: inline-block;
/*    display: table-cell;*/
/*    background: url(circle_red.svg);*/
    border-radius: 50%;
    border: 2px solid #000;
    background: #334273;
/*    background-size: 100% 100%;*/
    box-shadow: 10px 10px 50px 10px #888888;
    height: 150px;
    width: 150px;
    line-height: 200px;
    margin-left: 2%;
    margin-right: 0;
    text-decoration: none;
    color: #A0A2A9;
}
.round-info .inner {
    position: relative;
    text-align: center;
    height: 150px;
    width: 125px;
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
    left: 12px;
}
.round-info .inner h3{
    font-weight: bold;
    color: #A0A2A9;
}



.main-event {
    margin: 0;
    width: 95%;
    margin-left: 2.5%;
    background: #FFEBCD;
    height: 100%;
    overflow-y: hidden;
}
.main-event .title{

    line-height: normal;
    font-size: 40pt;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -10px;
}
.main-event .subtitle{
    display: block;
    line-height: normal;
    font-size: 20pt;
    margin-left:7%;
    margin-right:0;

}
.Info {
    display: block;
    float: right;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    margin-top: 5%;
    width: 50%;

}
.main-event .pic-container{
    display: inline-block;
    float: left;
    height:100%;
    width:35%;
    margin-left: 5%;
    margin-right: 0%;
    margin-bottom: 5%;
    margin-top: 5%;

}
.profile-pic{
    height:200px;
    width:200px;
    margin-left: 50px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    border: solid 2pt #000;
    border-radius: 50%;
}
.footer{
    position: fixed;
    bottom:0;
    width: 100%;
    color: #ffffff;
    height: 8%;
    background: #000;
}
.social-widgets{
    display: block;
    float: left;
}
.social-widgets a{
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 10px;
    
}

.social-widgets table, td{
    display: inline-block;
    color: black;
    margin: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    
}
.social-widgets th{
    background-color: #334273;
    color: #A0A2A9;
}
.copyr{
    display: block;
    text-align: center;
    margin: 9px;
}
.copyr a{
    color: white;
}