<?DOCTYPE=html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/personal_site.css"/>
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
     <script src="js/infoapp.js"></script>
  </head>
  <body ng-app="infodisplay">
    
    <nav>
      	<a href="#">Home</a>
<!--	<a href="#">Resume</a> -->
	<a href="#">Contact</a>
	<a href="res/vanmaanen-resume.pdf" target="_blank" class="button">Print Resume</a>
    </nav>
    <div class="main-event">
      <div class="pic-container">
	<img class="profile-pic" alt="Pic of Me" src="res/profilepic.jpg" height="100" width="300">
	<div class="title">David vanMaanen</div>
	<div class="subtitle">Programmer/ Data Analyst</div>
      </div>
      <div ng-controller="infolist">
	<div class="infobox">
	  <h2> {{info_dat[select_infoInd].title}}</h2>
	  <p> {{info_dat[select_infoInd].longDesc}}</p>
	</div>
	<div class="Info">
	  <a ng-repeat="item in info_dat" href="#" class="round-info" ng-show="($index!=select_infoInd)" ng-mouseover="hover_circl_on($index)" ng-mouseleave="hover_circl_off($index)" ng-click="InfoClick($index)">
	    <div class="inner">
	      <h3>{{item.title}}</h3>
	      <p ng-show="item.hovered">{{item.shortDesc}}</p>
	    </div>
	  </a>
	  <!--- <a href="#" class="round-info">
	    <div class="inner">
	      <h3>Education</h3>
	      <p>My learning background.</p>
	    </div>
	  </a>
	  <a href="#" class="round-info">
	    <div class="inner">
	      <h3>Experience</h3>
	      <p>What I have done in the past.</p>
	    </div>
	  </a>
	  <a href="#" class="round-info">
	    <div class="inner">
	      <h3 >Skills</h3>
	      <p>A general list of skills I have aquired through my education and experience.</p>
	    </div>
	  </a>-->
	</div>
      </div>
    </div>
      

    <div class="footer">
      <div class="social-widgets">
	<a href="#">G+</a>
	<a href="#">LinkIn</a>
	<a href="#">Github</a>
      </div>
      <div class="copyr">
	Copyright 2014 David vanMaanen
      </div>
    </div>
  </body>

</html>
