<?DOCTYPE=html>
<html>
  <head>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <link rel="stylesheet" type="text/css" href="css/personal_site.css"/>
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-sanitize.js"></script>
     <script src="js/infoapp.js"></script>
  </head>
  <body ng-app="infodisplay">
    
    <nav>
      	<a href="#">Home</a>
<!--	<a href="#">Contact</a>-->
	<a href="res/vanmaanen-resume.pdf" target="_blank" class="button">Print Resume</a>
    </nav>
    <div class="main-event">
      <div class="pic-container">
	<img class="profile-pic" alt="Pic of Me" src="res/profilepic.jpg" height="100" width="300">
	<div class="title">David vanMaanen</div>
	<div class="subtitle">Programmer/ Data Analyst</div>
      </div>
      <div ng-controller="infolist">
	<div class="infobox">
	  <h2> {{info_dat[select_infoInd].title}}</h2>
	  <p ng-bind-html="info_dat[select_infoInd].longDesc"></p>
	</div>
	<div class="Info">
	  <a ng-repeat="item in info_dat" href="#" class="round-info" ng-show="($index!=select_infoInd)" ng-mouseover="hover_circl_on($index)" ng-mouseleave="hover_circl_off($index)" ng-click="InfoClick($index)">
	    <div class="inner">
	      <h3>{{item.title}}</h3>
	      <p ng-show="item.hovered">{{item.shortDesc}}</p>
	    </div>
	  </a>
	</div>
      </div>
    </div>
      

    <div class="footer">
      <div class="social-widgets">
	<a href="mailto:david@vanmaanen.us"><img title="david@vanmaanen.us" alt="Email: david@vanmaanen.us" src="res/social_buttons/email.png"></a>
	<a href="https://plus.google.com/106201982480440885014/posts" target="_blank"><img title="Google+" alt="Google+" src="res/social_buttons/googleplus.png"></a>
	<a href="http://www.linkedin.com/in/dpvanmaanen" target="_blank"><img title="LinkedIn" alt="LinkedIn" src="res/social_buttons/linkedin.png"></a>
	<a href="https://github.com/dpvanmaan" target="_blank"><img title="GitHub" alt="GitHub" src="res/social_buttons/github.png"></a>
      </div>
      <div class="copyr">
	Copyright 2014 David vanMaanen
      </div>
    </div>
  </body>

</html>
